{% extends '@TechBlog/base.html.twig' %}


    {% block blog_post %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.createdAt|date }} by <a href="#">{{ post.author.nickname }}</a></p>
            <p>{{ post.article }}</p>
        </div><!-- /.blog-post -->
    {% endblock blog_post %}
